  <div class="section no-pad-bot color-change-btn z-depth-1" id="index-banner">
    <div class="container multi-color">
      <br><br>
      <h1 class="header center">
      <span class="light-blue-text text-lighten-3">K</span>
      <span class="orange-text text-lighten-3">o</span>
      <span class="light-green-text text-lighten-3">l</span>
      <span class="red-text text-lighten-3">o</span>
      <span class="grey-text text-lighten-3">r</span>
      <span class="amber-text text-lighten-3">i</span>
      <span class="deep-purple-text text-lighten-3">z</span>
      <span class="teal-text text-lighten-3">e</span>
      <!-- Kolorize -->
      </h1>
      <div class="row center">
        <h5 class="header col s12 light">A color palette creation and HTML preview tool.</h5>
      </div>
      <div class="row center">
        <span ng-if="isAuthenticated()"><a href="#/palettes" class="btn-large waves-effect waves-light black-text blue-grey lighten-5">Get Started</a></span>
        <span ng-if="!isAuthenticated()"><a href="#/login" class="btn-large waves-effect waves-light black-text blue-grey lighten-5">Login/Register</a></span>
      </div>
      <br><br>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">palette</i></h2>
            <h5 class="center">Create Color Palettes</h5>
            <p class="light">Use a color picker or extract colors from images easily and add them to your palette. Browse other users palettes and if you see one you like, you can save a copy and modify it yourself.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">search</i></h2>
            <h5 class="center">Search Flickr</h5>
            <p class="light">Feeling inspired by something but don't want to hunt to find images? Use our search and scroll through the results. If you see something you like, simply click the image and a palette of colors will be extracted from it.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons medium">laptop</i></h2>
            <h5 class="center">Preview Web/Print Media</h5>
            <p class="light">See how your palette would look on a webpage, flyer, greeting card, or poster. Multiple preview images will be created so you don't have to manually swap out colors. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 <!--  <div class="blue-grey lighten-5">
    <div class="container">
      <div class="section center">
        <video class="z-depth-2" src="styles/2.webm" autoplay loop width="600" type='video/webm;codecs="vp8, vorbis"'></video>
      </div>

    </div>
  </div> -->

  <footer class="page-footer blue-grey">
    <div class="footer-copyright">
      <div class="container center">
      Created by <a href="https://github.com/TJBIII">Thomas Buida</a>
      </div>
    </div>
  </footer>
