<div ng-class="{'navbar-fixed': !isAuthenticated()}">
  <nav role="navigation" class="blue-grey lighten-3">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#/" class="brand-logo">Kolorize</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li ng-class="{active: isActive('/about')}"><a href="#/about">About</a></li>
          <span ng-if="isAuthenticated()">
            <li ng-class="{active: isActive('/palettes')}"><a href="#/palettes">My Palettes</a></li>
            <li ng-class="{active: isActive('/browse')}"><a href="#/browse">Browse</a></li>
          </span>
          <li ng-class="{active: isActive('/login')}">
              <span ng-if="isAuthenticated()"><a href="#/" ng-click="logout()">Logout</a></span>
              <span ng-if="!isAuthenticated()"><a href="#/login">Login</a></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>