<div ng-controller="ColorCtrl">
  <span ng-if="saturationScale">
  <div class="colorBox z-depth-1 center">
    <span ng-if="saturationScale">
      <div class="row">
        <div class="col s12">
          <h4>Saturation Scale</h4>
        </div>
        <ul class="saturation" ng-model="saturationScale">
          <li class="saturation-color" ng-click="add(color)" ng-repeat="color in saturationScale track by $index" style="background-color: {{color}}">
            {{color}}
          </li>
        </ul>
      </div>
    
      <div class="clear"></div>

      <button ng-click="setColor(complimentaryColor)" class="waves-effect waves-light btn-large swap-btn"><i class="material-icons left">swap_vert</i>Swap</button>

      <div class="clear"></div>
    </span>


    <span ng-if="complimentaryColor">
        <div class="compliment" ng-click="add(complimentaryColor)" style="background-color: {{complimentaryColor}}">
          {{complimentaryColor}}
        </div>
      <h4>Complimentary Color</h4>
      <div class="clear"></div>
    </span>


    <span ng-if="colorPicker !== '#ffffff'">
      <h4>Lightness Slider</h4>
      <div class="row">
        <div class="col s10 offset-s1">
          <form action="#">
            <p class="range-field">
              <input ng-model="$parent.$parent.pickerLightness" ng-change="setColor(calcFromLightness())" type="range" min="0" max="100" />
            </p>
          </form>
        </div>
      </div>
    </span>

  </div>
  </span>


  <span ng-if="clusterColors">
    <h4>Cluster Colors</h4>
    <ul>
      <li class="color cluster-color" ng-click="setColor(color); setLightness()" ng-repeat="color in clusterColors" style="background-color: {{color}}">
        {{color}}
      </li>
    </ul>
  </span>


  <div class="clear"></div>


   

  <div>
    <canvas id="imageCanvas" width=0 height=0></canvas>
  </div>
        
  <span ng-if="imageUploaded">
    <form action="#">
      <p class="range-field">
        <input ng-model="$parent.k" type="range" min="3" max="8" />
      </p>
    </form>
    <button ng-click="processImage()" class="waves-effect waves-light btn">Process</button>
  </span>


  <span ng-if="flickrLoader">
    <div ng-include="'partials/indeterminate-loader'"></div>
  </span>

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">colorize</i>Color Picker</div>
      <div class="collapsible-body">
        <div class="valign-wrapper">
          <input type="color" ng-model="colorPicker" ng-change="updateScales(); compliment(); setLightness()"/>
          <button ng-click="add(colorPicker)" class="waves-effect waves-light btn">Add to Palette</button>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add_a_photo</i>Upload Image</div>
      <div class="collapsible-body">
        <form action="#">
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input type="file" id="imageLoader" name="imageLoader">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </form>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">search</i>Search Flickr</div>
      <div class="collapsible-body">
        <p>
          <input type="text" ng-model="searchTerm" placeholder="Search Flickr...">
          <button ng-click="flickrSearch()" class="waves-effect waves-light btn">Search</button>
        </p>
      </div>
    </li>
  </ul>

  <span ng-if="flickrLoader">
    <div ng-include="'partials/indeterminate-loader'"></div>
  </span>


  <div class="clear"></div>

    <!-- display images from flickr search -->
  <div class="search-results" id="searchResults">
    <span ng-if="searchImgResults">
      <h4>Search Results</h4>
      <h6>Click an image to extract a palette from</h6>
    </span>
    <span ng-repeat="imgSrc in searchImgResults">
      <img ng-click="analyze(imgSrc); scrollTo('imageCanvas')" ng-src="{{imgSrc}}">
    </span>
  </div>
</div>