<section class="container">
  
  <div class="row center">
    <div class="col s12 l6">
      <h1>Create</h1>
    </div>

    <div class="col s12 l6">
      <button class="waves-effect waves-light btn-large create-btn" ng-click="savePalette()">Save Palette</button>
    </div>
  </div>

  <input type="text" ng-model="palette.name" placeholder="New Palette Name">

  <div class="row">
    <ul ui-sortable ng-model="palette.colors">
      <li ng-class="palette.colors.length > 3 ? (palette.colors.length > 5 ? 's1-half' : 's2') : 's3'" class="card color-card col s2" ng-repeat="color in palette.colors" style="background-color: {{color}}">
        <div class="activator card-image waves-effect waves-block waves-light">
        </div>
        <div class="card-content reset">
          <span class="card-title activator grey-text text-darken-4">
            <span ng-if="getLightness(color) >= 51"><i class="material-icons right small">more_horiz</i></span>
            <span ng-if="getLightness(color) <= 50"><i class="material-icons right small white-icons">more_horiz</i></span>
          </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <i class="material-icons right">close</i></span>
            <a>Tweak</a>
            <a ng-click="deleteColor(color)">Delete</a>
            <a clipboard on-copied="$parent.clipSuccess(color)" text="color">Copy Hex</a> 
        </div>
      </li>
    </ul>
  </div>
  <div class="clear"></div>

  <span ng-include="'partials/new-color.html'"></span>

  <div ng-include="'partials/save-modal.html'"></div>

</section>