<section>
  <h1>Create New Palette</h1>

  <input type="text" ng-model="paletteName" placeholder="New Palette Name">
  <!-- <div ui-sortable ng-model="palette">
    <div ng-repeat="color in palette">
      <div class="color" style="background-color: {{color}}">{{color}}</div>
    </div>
  </div> -->
  <ul ui-sortable ng-model="palette">
    <li class="color" ng-repeat="color in palette" style="background-color: {{color}}">
      {{color}}
    </li>
  </ul>
  <div class="clear"></div>

  <button ng-click="savePalette()">Save Palette</button>


  <h6>Add from Color Picker</h6>
  <input type="color" ng-model="colorPicker"/>
  <button ng-click="add()">Add to Palette</button> 


  <h6>Add from Image</h6>
  <input type="file" id="imageLoader" name="imageLoader"/>
  <canvas id="imageCanvas"></canvas>
  
</section>