<section class="container palette-list">

  <div class="row">
    <div class="col s12 l6">
      <h1>Palettes</h1>
    </div>

    <div class="col s12 l6">
      <a href="#/new-palette"><button class="waves-effect waves-light btn-large create-btn"><i class="material-icons right">palette</i>Create New Palette</button></a>
    </div>
  </div>



  <section>
    <div class="row">
      <div class="input-field col s12">
        <input ng-model="search.name" id="search" type="text" >
        <label for="search">Search</label>
      </div>
    </div>


  <div class="row">
    <div ng-repeat="palette in palettes | filter: search.name">
      <div class="col s12">
        <h4>{{palette.name || "Unamed Palette"}}
          <span ng-if="palette.forked">
            <div class="chip forked">
              Forked
            </div>
          </span>
        </h4>
      </div>
      <div class="col s8">
        <div ng-repeat="color in palette.colors">
          <div class="color" style="background-color: {{color}}"></div>
        </div>
      </div>

      <div class="col s4">
        <a href="#/preview" ng-click="setChosenPalette(palette)"><button class="waves-effect waves-light btn grey lighten-1">Preview</button></a>
        <a href="#/edit-palette" ng-click="setChosenPalette(palette)"><button class="waves-effect waves-light btn grey lighten-1">Edit</button></a>
      </div>
      <!-- clear before the next palette -->
      <div class="clear"></div>
    </div>


  </div>

  </section>

</section>

