<article class="palette-list">

  <header><h1>Palettes</h1></header>

  <section>

  <label>Search: <input ng-model="search.name"></label>

  <div class="row">
    <div ng-repeat="palette in palettes | filter: search.name">
      <h4>{{palette.name || "Unamed Palette"}}</h4>

      <div class="col s8">
        <div ng-repeat="color in palette.colors">
          <div class="color" style="background-color: {{color}}"></div>
        </div>
      </div>

      <div class="col s4">
        <a href="#/preview" ng-click="setChosenPalette(palette)"><button class="waves-effect waves-light btn grey lighten-1">Preview</button></a>
        <a href="#/edit-palette" ng-click="setChosenPalette(palette)"><button class="waves-effect waves-light btn grey lighten-1">Edit</button></a>
      </div>
      <!-- clear before the next palette -->
      <div class="clear"></div>
    </div>

    <div style="margin-top: 40px;">
      <a href="#/new-palette">Create New Palette</a>
    </div>

  </div>

  </section>

</article>

