<section>
  <h1>HTML Preview</h1>


<!--   <div ng-repeat="color in $parent.chosenPalette.colors">
    <div class="color" style="background-color: {{color}}">{{color}}</div>
  </div> -->

  <ul ui-sortable ng-model="$parent.chosenPalette.colors">
    <li class="color" ng-repeat="color in $parent.chosenPalette.colors" style="background-color: {{color}}">
      {{color}}
    </li>
  </ul>

  <div class="clear"></div>
  <h4>Templates</h4> 

  <button class="waves-effect waves-light btn" ng-click="setTemplate('previews/starter-template.html')">Materialize Starter</button>

  <button class="waves-effect waves-light btn" ng-click="setTemplate('previews/one-page.html')">One-Page Starter</button>
    

  <button data-target="loader-modal" class="modal-trigger waves-effect waves-light btn" ng-click="generatePreviews()">Generate Previews</button>
  
  <button class="waves-effect waves-light btn" ng-click="toggleBlur()">Toggle Blur</button>

  <div ng-include="'partials/loader.html'"></div>
 
  <div id="output"></div>

  <div id="template-node">
    <div ng-include="chosenTemplate"></div>
  </div>

</section>