  
<div id="preview-modal" class="modal">
  <div class="modal-content center">
    <h4>Selected Preview</h4>
    <div class="row">
      <div class="col s4">
        <h6>Nav: {{ nav }}<h6>
      </div>
      <div class="compliment col s6"style="background-color: {{ nav }}"></div>
    </div>
    <div class="row">
      <div class="col s4">
        <h6>Body: {{ body }}</h6>
      </div>
      <div class="compliment col s6"style="background-color: {{ body }}"></div>
    </div>
    <div class="row">
      <div class="col s4">
        <h6>Footer: {{ footer }}</h6>
      </div>
      <div class="compliment col s6"style="background-color: {{ footer }}"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class=" modal-action modal-close waves-effect waves-green btn-flat">Done</button>
  </div>
</div>