<section class="container">

  <div class="row center">
    <div class="col s12 l6">
      <h1>Preview</h1>
    </div>

    <div class="col s12 l6">
      <span ng-if="$parent.chosenPalette.uid === $parent.getUserID()">
        <a href="#/edit-palette"><button class="waves-effect waves-light grey lighten-1 btn-large create-btn"><i class="material-icons right">palette</i>Edit {{$parent.chosenPalette.name}}</button></a>
      </span> 
    </div>
  </div>

  <div class="row">
    <ul class="color-preview" ui-sortable ng-model="$parent.chosenPalette.colors">
      <li ng-class="$parent.chosenPalette.colors.length > 3 ? ($parent.chosenPalette.colors.length > 5 ? 's1-half' : 's2') : 's3'" class="card color-card col" ng-repeat="color in $parent.chosenPalette.colors" style="background-color: {{color}}">
        <div class="activator card-image waves-effect waves-block waves-light">
        </div>
        <div class="card-content reset">
          <span class="card-title activator grey-text text-darken-4">
            <span ng-if="getLightness(color) >= 51"><i class="material-icons right small">more_horiz</i></span>
            <span ng-if="getLightness(color) <= 50"><i class="material-icons right small white-icons">more_horiz</i></span>
          </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <i class="material-icons right">close</i></span>
            <a>Tweak</a>
            <a clipboard on-copied="$parent.clipSuccess(color)" text="color">Copy Hex</a> 
        </div>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col s12">
      <button data-target="loader-modal" class="modal-trigger waves-effect waves-light grey lighten-1 btn generate-btn" ng-click="generatePreviews()">Generate Previews</button>
    </div>
    <div class="col s12 ">
      <span ng-if="previews.length">
        <button class="waves-effect waves-light grey lighten-1 btn generate-btn" ng-click="toggleBlur()">Toggle Blur</button>
      </span>
    </div>
  </div>


  <div id="output">
    <span class="preview" ng-repeat="previewSrc in previews">
      <img ng-click="setModal($index)" ng-src="{{previewSrc}}">
    </span>
  </div>
 
  <div class="row">
    <div class="col s12">
      <h4>Templates</h4>
    </div>

    <div class="col s12">
      <button class="waves-effect waves-light grey lighten-1 btn template-btn" ng-click="setTemplate('previews/starter-template.html')">Materialize Starter</button>
      
      <button class="waves-effect waves-light grey lighten-1 btn template-btn" ng-click="setTemplate('previews/one-page.html')">One-Page Starter</button>
    </div>
  </div>

  <div class="clear"></div>

  <div id="template-node">
    <div ng-include="chosenTemplate"></div>
  </div>

  <span ng-include="'partials/preview-modal.html'"></span>
  <span ng-include="'partials/loader.html'"></span>

</section>