<section class="container">

  <div class="row center">
    <div class="col s12 l6">
      <h1>Preview</h1>
    </div>

    <div class="col s12 l6">
      <a href="#/edit-palette"><button class="waves-effect waves-light btn-large create-btn"><i class="material-icons right">palette</i>Edit {{$parent.chosenPalette.name}}</button></a>
    </div>
  </div>

  <div class="row">
    <ul class="color-preview" ui-sortable ng-model="$parent.chosenPalette.colors">
      <li ng-class="$parent.chosenPalette.colors.length > 3 ? ($parent.chosenPalette.colors.length > 5 ? 's1-half' : 's2') : 's3'" class="card color-card col" ng-repeat="color in $parent.chosenPalette.colors" style="background-color: {{color}}">
        <div class="activator card-image waves-effect waves-block waves-light">
        </div>
        <div class="card-content reset">
          <span class="card-title activator grey-text text-darken-4">
            <span ng-if="getLightness(color) >= 51"><i class="material-icons right small">more_horiz</i></span>
            <span ng-if="getLightness(color) <= 50"><i class="material-icons right small white-icons">more_horiz</i></span>
          </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <i class="material-icons right">close</i></span>
            <a>Tweak</a>
            <a>Copy Hex</a> 
        </div>
      </li>
    </ul>
  </div>

  <div class="clear"></div>

  <button data-target="loader-modal" class="modal-trigger waves-effect waves-light btn" ng-click="generatePreviews()">Generate Previews</button>
  
  <span ng-if="previews.length">
    <button class="waves-effect waves-light btn" ng-click="toggleBlur()">Toggle Blur</button>
  </span>

  <div ng-include="'partials/loader.html'"></div>

  <div id="output">
    <span class="preview" ng-repeat="previewSrc in previews">
      <img ng-click="setModal($index)" ng-src="{{previewSrc}}">
    </span>
  </div>
 
  <h4>Templates</h4> 

  <button class="waves-effect waves-light btn" ng-click="setTemplate('previews/starter-template.html')">Materialize Starter</button>

  <button class="waves-effect waves-light btn" ng-click="setTemplate('previews/one-page.html')">One-Page Starter</button>

  <div id="template-node">
    <div ng-include="chosenTemplate"></div>
  </div>

  <span ng-include="'partials/preview-modal.html'"></span>

</section>