h1 {
  font-family: 'Orbitron', sans-serif;
}


.color {
  margin: 0 5.5px;
  height:40px;
  width: 80px;
  float: left;
  display: block;
  border: 1px solid black;
}


.cluster-color {
  margin-bottom: 10px;
}

.saturation {
  margin-left: 10px;
}

.saturation-color {
  text-align: center;
  margin: 0 2.5px;
  height:40px;
  width: 80px;
  float: left;
  display: block;
  border: 1px solid black;
}

.compliment {
  margin: 0 auto;
  height:40px;
  width: 80px;
  display: block;
  border: 1px solid black;

}

#palette {
  border: 2px solid black;
  height: 60px;
}

.row li.color-card {
  padding-top: 100px;
  padding-bottom: 0;
  margin: 0;
  cursor: pointer;
}


.row .col.s1-half {
    width: 12%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.white-icons {
  color: white;
}

div.card-content.reset {
  margin: 0;
  padding: 0;
}

.card-reveal a{
  margin: 10px 0;
  display: block;
}

.card-reveal a:hover{
  color: #333;
}

.create-btn {
  text-align: center;
  margin: 2.1rem;
}

.swap-btn {
  text-align: center;
}

.modal-btn {
  text-align: center;
  background-color: #fff;
  color: black;
}

.modal-btn:hover {
  background-color: #eee;
  color: black;
}

input[type="color"] {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.forked {
  background-color: #fff;
  color: #bbb;
}

.template-border {
  border: 1px solid black;
}

.clear {
  clear: both;
}

.colorBox {
  /*background-color: #eee;*/
  padding: 10px;
}

.search-results {
  height: 200px;
}

#output img{
  max-height: 400px;
  border: 1px solid black;
  margin: 10px;
/*  filter: blur(4px);
  -webkit-filter: blur(4px);*/
}


.blurred {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

#output img:hover {
  filter: none;
  -webkit-filter: none;
}


h1.header {
  text-shadow: 2px 2px 1px black;
}

.multi-color {
  padding-top: 40px;
}

/********color change on homepage button*********/
.color-change-btn {
  color: #333;
  -webkit-animation: color-change 10s infinite;
  -moz-animation: color-change 10s infinite;
  -o-animation: color-change 10s infinite;
  -ms-animation: color-change 10s infinite;
  animation: color-change 15s infinite;
}

@-webkit-keyframes color-change {
    0% { background-color: red; }
    50% { background-color: blue; }
    100% { background-color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@keyframes color-change {
    0% { background-color: #81d4fa; }
    12% { background-color: #ffcc80; }
    24% { background-color: #ffe082; }
    36% { background-color: #eeeeee; }
    48% { background-color: #EF9A9A; }
    60% { background-color: #c5e1a5; }
    72% { background-color: #80cbc4; }
    84% { background-color: #b39ddb; }
    100% { background-color: #81d4fa; }

}
/****************************/

/* Styles for html templates
.navbar {
  background-color: black;
}


.templateBody {
  background-color: lightgray;
}

footer.page-footer {
  background-color: orange;
}