h1 {
  font-family: 'Orbitron', sans-serif;
}

.color {
  margin: 0 5.5px;
  height:40px;
  width: 80px;
  float: left;
  display: block;
  border: 1px solid black;
}

.color-small {
  margin: 0 2.5px;
  height:40px;
  width: 75px;
  float: left;
  display: block;
  border: 1px solid black;
}


.cluster-color {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.saturation {
  margin-left: 10px;
}

.saturation-color {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.uppercase {
  text-transform: uppercase;
}

.compliment {
  margin: 0 auto;
  height:40px;
  width: 200px;
  display: block;
  border: 1px solid black;

}

#palette {
  border: 2px solid black;
  height: 60px;
}

.row li.color-card {
  padding-top: 100px;
  padding-bottom: 0;
  margin: 0;
  cursor: pointer;
}


.row .col.s1-half {
    width: 12%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.white-icons {
  color: white;
}

div.card-content.reset {
  margin: 0;
  padding: 0;
}

.card-reveal a{
  margin: 10px 0;
  display: block;
}

.card-reveal a:hover{
  color: #333;
}

.create-btn {
  text-align: center;
  margin: 2.1rem;
}

.generate-btn {
  margin-bottom: 20px;
  width: 230px;
}

.template-btn {
  margin-bottom: 10px;
}

.swap-btn {
  text-align: center;
  margin-bottom: 20px;
}

.modal-btn {
  text-align: center;
  background-color: #fff;
  color: black;
}

.modal-btn:hover {
  background-color: #eee;
  color: black;
}

input[type="color"] {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.forked {
  background-color: #fff;
  color: #bbb;
}

.template-border {
  border: 1px solid black;
}

.clear {
  clear: both;
}

.colorBox {
  /*background-color: #eee;*/
  padding: 10px;
}

.search-results {
  height: 200px;
}

.preview img{
  max-height: 400px;
  max-width: 270px;
  border: 1px solid black;
  margin: 10px;
/*  filter: blur(4px);
  -webkit-filter: blur(4px);*/
} 


.blurred {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.preview:hover {
  filter: none;
  -webkit-filter: none;
}

.row .color-preview li:nth-child(-n+3) {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-radius: 0;
}

.row .color-preview li:nth-child(-n+3):active {
  border: none;
  border-radius: 0;
}

.row .color-preview li:nth-child(1) {
  border-left: 3px solid black;
}

.row .color-preview li:nth-child(3) {
  border-right: 3px solid black;
}

.row .color-preview li:nth-child(4) {
  margin-left: 30px;
}

h1.header {
  text-shadow: 2px 2px 1px black;
}

.multi-color {
  padding-top: 40px;
}

/********color change on homepage button*********/
.color-change-btn {
  color: #333;
  -webkit-animation: color-change 10s infinite;
  -moz-animation: color-change 10s infinite;
  -o-animation: color-change 10s infinite;
  -ms-animation: color-change 10s infinite;
  animation: color-change 15s infinite;
}

@-webkit-keyframes color-change {
    0% { background-color: red; }
    50% { background-color: blue; }
    100% { background-color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@keyframes color-change {
    0% { background-color: #81d4fa; }
    12% { background-color: #ffcc80; }
    24% { background-color: #ffe082; }
    36% { background-color: #eeeeee; }
    48% { background-color: #EF9A9A; }
    60% { background-color: #c5e1a5; }
    72% { background-color: #80cbc4; }
    84% { background-color: #b39ddb; }
    100% { background-color: #81d4fa; }

}


/*********   DECKGRID   *******************/
.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '3 .column.column-1-3';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-3 {
    width: 33%;
}

.deckgrid img {
  height: auto;
  width: 100%;
}

.deckgrid .column-1-1 {
    width: 100%;
}

@media screen and (max-width: 480px){
    .deckgrid[deckgrid]::before {
        content: '1 .column.column-1-1';
    }
}

.photo {
    background:#fff url(/styles/spinner.gif) center 5px no-repeat;
    border:1px solid rgba(0, 0, 0, .15);
    border-radius:3px;
    margin:0 -2px -8px 0;
    position:relative;
}

.photo .photo-wrapper {
    min-height:60px;
}